{% extends "layouts/page.html" %}
{% block content %}

<section id="about" class="pt-lg-5 pb-5">
  <div class="container pt-5">
      <h2 class="mt-5">ORANGE PALLET INC ORANGE LOGISTICS (PTY) LTD.</h2>
  <p class="lead">Orange's shareholders are well respected Logistics Entrepreneurs with over Thirty years experience in the formation of companies that have innovated and created substantial supply chain value for dozens of Blue Chip companies over the years.</p>

  <h3>PRESTO PARCELS: FOUNDED 1978</h3>
  <p>Became South Africa's largest parcel carrier/integrator. Clients included, Cosmetics: Coty, Max-Factor Revlon, Shulton  (Old Spice) Yardley. Motor Vehicle Parts Accessories, Caterpillar, Cummins, Ford, General Motors, Komatsu, Nissan, Mercedes Benz, Toyota, and Volkswagen.</p>
  <p>The Business was sold to London Listed Company: Mitchell Cotts Limited in 1982.</p>

  <h3>PRESTO TRANSPORT HOLDINGS LTD 1983</h3>
  <p>Inter City Container based trucking company. Became South Africa's largest Multi City Daily service carrier. Clients included:</p>
  <ul>
      <li>Motor Manufacturers: Original Equipment Component Delivery: Ford, General Motors, Mercedes Benz, Toyota</li>
      <li>Tyres: Dunlop, Bridgestone Firestone, Tiger Wheels</li>
      <li>Fast Moving Consumer Goods: Chet Industries, Colgate Palmolive, Colman Foods (Tiger Brands), Energade, Langeberg (Tiger Brands), Gilbeys (Diageo) South African Breweries.</li>
      <li>Consumer Durables: AECI Paint (Dulux), Eveready</li>
  </ul>
  <p>1986 Introduced: “OWNER DRIVER” Concept to South African Breweries to the late CEO Graham Mackay: Awarded Extensive SAB Contracts.</p>

  <h3>PRESTO LISTED ON THE JSE: OCTOBER 1987</h3>
  <p>Anchor Shareholders: MANAGEMENT: TRENCOR LTD FINANSBANK (NEDBANK)</p>
  <p>1990 PRESTO TRANPORT HOLDINGS LTD liquidated. Sustained industrial action across the South African landscape rendered a Inter City "JUST IN TIME" Carrier unworkable.</p>


  <h3>1992 CARGO AFRICA (PTY) LTD</h3>
  <p>Joined former PRESTO executive and built over fourteen years South Africa's largest "MANAGED LOGISTICS COMPANY"</p>
  <p>Sold 60% interest to the late Bill Lynch of Imperial Holdings.</p>
  <p>Diversified Blue Chip 100% contractor client base.</p>

  <h3>Client Base</h3>
  <ul>
      <li>"FMCG": Brandhouse, Colgate Palmolive, Tiger Brands (Tastic), Diageo, Heineken, Windhoek, Colman Foods, Milling Logistics (Pty) Ltd. UNILEVER (DHL)</li>
      <li>Mining: African Rainbow Resources, BHP Billiton</li>
      <li>Industrial: Consumer Durables: Bridgestone Firestone, Dunlop, Plascon, JD Group, Italtile, PG Glass, Shaterpruffe- South African Post Office</li>
      <li>Lubricants: Castrol (BP), Caltex, Engen, Total, Sasol (Pipeline).</li>
  </ul>
  <p>Created South Africa's largest OWNER DRIVER Company "CADE".  Founded as a BEE structure and sold to a Investec BEE Funded Entity in 2008.</p>
  <p><strong>Fully Built Up Motor Vehicles:</strong> BMW, Hyundai, General Motors, Mercedes Benz, Volkswagen</p>
  <p>CARGO AFRICA now forms the rump of IMPERIAL’S managed logistics entity. Africa’s largest asset light logistics grouping.</p>
  <p>Sold CARGO AFRICA’S remaining equity to IMPERIAL HOLDINGS LTD: 2007</p>
  
  <h3>FORMED PARTNERSHIP WITH MASSMART HOLIDNGS: 2008</h3>
  <p>Objective:  Streamline MAKRO'S inbound supply chain. "MLS" MAKRO/MASSMART LOGISTICS SERVICES was created successfully and was profitable from inception.</p>
  <p>Sold 49% Interest to MASSMART in March 2014. Transaction was initiated by ORANGE and GRANT PATTISON.</p>
  </div>
</section>

{% endblock content %}