{% extends "layouts/page.html" %}
{% block content %}

<section id="management" class="pt-lg-5 pb-5">
  <div class="container pt-5 text-center">
    <h1 class="my-5">Welcome to the Orange Logistics control tower where technology simplifies logistics.</h1>
   
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="pic bigheadF"></div>
          <div class="card-body text-center bg-light">
            <h2 class="card-title">Guy</h2>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="pic bigheadM"></div>
          <div class="card-body text-center bg-light">
            <h2 class="card-title">Dude</h2>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="pic bigheadF"></div>
          <div class="card-body text-center bg-light">
            <h2 class="card-title">Person</h2>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock content %}