{% extends "layouts/page.html" %}
{% block content %}

<section id="contact" class="pt-lg-5 pb-5">
  <div class="container pt-5">
    <h1 class="my-5">Contact us</h1>
    <div class="row">
      <div class="col-lg-6">
        <div class="card bg-dark text-light mb-3">
          <div class="card-header">
            Get in touch
          </div>
          <div class="card-body">
            <h5 class="card-title">Visit our offices</h5>
            <p class="card-text">Third Floor, Ballyoaks Office Park Silky Oak House, 35 Ballyclare Dr, Bryanston, Johannesburg, 2191</p>
            <a href="https://www.google.com/maps/dir//ORANGE+PALLET+INC+ORANGE+LOGISTICS+(PTY)+LTD,+Third+Floor,+Ballyoaks+Office+Park+Silky+Oak+House,+35+Ballyclare+Dr,+Bryanston,+Johannesburg,+2191,+South+Africa/@-26.0699526,28.025922,16z/data=!4m9!4m8!1m0!1m5!1m1!1s0x1e95737775753547:0x847a82390c7acf00!2m2!1d28.0320775!2d-26.0732608!3e0" class="btn btn-outline-warning" target="_blank">Get Directions</a>
            <h5 class="card-title mt-5">Give us a call</h5>
            <p class="card-text"><strong>Telephone: </strong>+27 11 463 7724</p>
            <p class="card-text"><strong>After hours: </strong>+27 69 895 6421</p>
            <h5 class="card-title mt-5">You want to write instead?</h5>
            <p class="card-text"><strong>Email: </strong>reception@orangelogistics.co.za</p>
            
            <h5 class="card-title mt-5">Leave a message</h5>

            <div class="container mt-3 text-dark">
              <form action="">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="name" placeholder="Name" autocomplete="off">
                  <label for="name">Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="email" placeholder="Email" autocomplete="off">
                  <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                  <textarea class="form-control" placeholder="Message" id="message"></textarea>
                  <label for="message">Message</label>
                </div>
                <button type="button" class="btn btn-warning btn-lg mb-3">Submit</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}