{% extends "layouts/page.html" %}
{% block content %}

<section id="control_tower" class="pt-5 pb-5">
  <div class="container pt-5 text-center">
    <p class="lead">Welcome to the Orange Logistics control tower where technology simplifies logistics.</p>
   
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 mb-3">
        <img src="{{ url_for('static', filename='css/img/office1.jpg') }}" width="100%" alt="">
      </div>
      <div class="col-12 col-md-12 col-lg-6 mb-3">
        <img src="{{ url_for('static', filename='css/img/office2.jpg') }}" width="100%" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 mb-3">
        <img src="{{ url_for('static', filename='css/img/office3.jpg') }}" width="100%" alt="">
      </div>
      <div class="col-12 col-md-12 col-lg-6 mb-3">
        <img src="{{ url_for('static', filename='css/img/office4.jpg') }}" width="100%" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 mb-3">
        <img src="{{ url_for('static', filename='css/img/office5.jpg') }}" width="100%" alt="">
      </div>
      <div class="col-12 col-md-12 col-lg-6 mb-3">
        <img src="{{ url_for('static', filename='css/img/office6.jpg') }}" width="100%" alt="">
      </div>
    </div>

  </div>
</section>

{% endblock content %}