{% extends "layouts/page.html" %}
{% block content %}

<section id="hero_section">
  
  <div id="landingPageCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#landingPageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#landingPageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#landingPageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption d-none d-md-block">
          <h1>Orange Logistics</h1>
          <p>Quantifiable, less cost solutions, multiple examples for shippers and trucking companies across multiple industries, questioning deep rooted processes which often need re examining in a continual process of searching for solutions.</p>
        </div>
      </div>
      <div class="carousel-item"> 
        <img id="olog_map" src="{{ url_for('static', filename='css/img/map.svg') }}" alt="OLOG">
        <div class="carousel-caption d-none d-md-block">
          <a href="https://www.olog.co.za/" target="_blank"><img id="olog_logo" src="{{ url_for('static', filename='css/img/logo.svg') }}" alt="OLOG"></a>
          <p>Southern Africa's Premier Digital Freight Exchange. A custom built leading edge technology platform, hosted for freight customers and suppliers looking for least cost freight options throughout Southern and Central Africa.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
          <h1>Our promise</h1>
          <p>Orange Promise to provide cutting edge, less cost logistics solutions, for shippers and trucking companies to meet  customers unique requirements. Orange deliver measurable metrics. Owned and Managed by seasoned entrepreneurs working in Logistics Innovation in Southern Africa for over 40 years.</p>
        </div>
      </div>
    </div>
  </div>
  
</section>

<section id="services_section" class="mini-section bg-orange">
  <div class="container pt-5 text-center">
    <h2>Services</h2>
    <p class="lead mb-lg-5">Expert Solutions for Your Transportation Needs</p>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 col-lg-3 mb-3">
        <div class="card text-center">
          <div class="card-header">
            <h3 class="card-title">Transportation Services</h3>
          </div>
          <div class="card-body">
            <p class="card-text">Road Freight transportation throughout the SADAC region. We have a comprehensive carrier base to service a large variety of your freight requirements.</p>
          </div>
          <div class="card-footer">
            <a href="{{url_for('main.services')}}" class="btn"><small class="text-muted">More on this</small></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <div class="card text-center">
          <div class="card-header">
            <h3 class="card-title">OLOG</h3>
          </div>
          <div class="card-body">
            <p class="card-text">Connecting Goods with approved carriers to facilitate optimization throughout the Supply Chain and REDUCE costs.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.olog.co.za/" class="btn" target="_blank"><small class="text-muted">More on this</small></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <div class="card text-center">
          <div class="card-header">
            <h3 class="card-title">Orange Petroleum Services</h3>
          </div>
          <div class="card-body">
            <p>Orange Petroleum provides mines, transporters and wholesalers with quality products at a better price.</p>
          </div>
          <div class="card-footer">
            <a href="{{url_for('main.petroleum')}}" class="btn"><small class="text-muted">More on this</small></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}