{% extends "layouts/page.html" %}
{% block content %}

<section id="management" class="pt-lg-5 pb-5">
  <div class="container pt-5 text-center">
    <h1 class="mt-5">Orange Logistics Management</h1>
    <p class="lead">Meet the team!</p>
   
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="pic john"></div>
          <div class="card-body text-center bg-light">
            <button class="btn">
              <h2 class="card-title" data-bs-toggle="modal" data-bs-target="#johnModal">John Gibb</h2>
            </button>
            <p class="card-text">Chairman</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="pic ceril"></div>
          <div class="card-body text-center bg-light">
            <h2 class="card-title">Cyril Atkinson</h2>
            <p class="card-text">Executiver Board Member</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="pic peter"></div>
          <div class="card-body text-center bg-light">
            <h2 class="card-title">Peter Francis</h2>
            <p class="card-text">Executiver Board Member</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="pic haig"></div>
          <div class="card-body text-center bg-light">
            <h2 class="card-title">Haig Gibb</h2>
            <p class="card-text">Managing Director: Supply Chain Services</p>
            <p class="card-text">Managing Director: Sales and Finance</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="pic rory"></div>
          <div class="card-body text-center bg-light">
            <h2 class="card-title">Rory Atkinson</h2>
            <p class="card-text">Managing Director: Operations</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="pic stacey"></div>
          <div class="card-body text-center bg-light">
            <h2 class="card-title">Stacey Venter</h2>
            <p class="card-text">Financial Director</p>
          </div>
        </div>
      </div>
    </div>
   
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="pic jayne"></div>
          <div class="card-body text-center bg-light">
            <h2 class="card-title">Jayne Nicolle</h2>
            <p class="card-text">Financial Controller</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="pic mark"></div>
          <div class="card-body text-center bg-light">
            <h2 class="card-title">Mark Moodley</h2>
            <p class="card-text">Operations Manager</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="pic olivia"></div>
          <div class="card-body text-center bg-light">
            <h2 class="card-title">Olivia Lawrence</h2>
            <p class="card-text">Service Excellence Executive</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="modal fade" id="johnModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="johnModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="johnModalLabel">John Gibb</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas corrupti veniam perferendis, magnam eum nisi magni id ea dolor unde nulla, explicabo autem quidem praesentium aliquid voluptatibus quibusdam ut nam.
      </div>
    </div>
  </div>
</div>

{% endblock content %}