{% extends "layouts/page.html" %}
{% block content %}

<section id="management" class="pt-lg-5 pb-5">
  <div class="container pt-5">
    <h1 class="text-center">RanzoLog</h1>
    <p class="lead">Orange Logistics has partnered with one of South Africas most talented young entrepreneurs.
      Born and based in the Eastern Cape, AJ van der Hoogen is a chartered accountant who is building a substantial logistics business and is a strategic partner for Orange Logistics. He was voted the top under 35 businessman of the year by accounting SA in 2018.
      </p>
    <p class="lead">The formation of Ranzolog which is a BBBEE level 1 contributor is growing into a formidable solution provider within South Africa.</p>
    <p class="lead">Contact <a href="#" class="btn">Orange Logistics</a> to find out how you can be involved with Ranzolog.</p>
   
    <div class="row">
      <div class="col-12 col-lg-6 mb-3">
        <img src="{{ url_for('static', filename='css/img/ranzo1.jpg') }}" width="100%" alt="">
      </div>
      <div class="col-12 col-lg-6 mb-3">
        <img src="{{ url_for('static', filename='css/img/ranzo2.jpg') }}" width="100%" alt="">
      </div>
    </div>

  </div>
</section>

{% endblock content %}