{% extends "layouts/page.html" %}
{% block content %}

<section id="services" class="pt-lg-5 pb-5">
  <div class="container pt-5">

    <p class="lead mt-5">Quantifiable, less cost solutions, multiple examples for shippers and trucking companies across multiple industries, questioning deep rooted processes which often need re examining in a continual process of searching for solutions.</p>
    <p class="lead"><a href="{{ url_for('main.contact') }}">Contact us</a> today - At No Obligation!</p>

    <div class="row d-flex justify-content-centre mt-5">
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="card-body bg-light">
            <h4>The industries we provide service to are:</h4>
            <ul>
              <li>Fast Moving Consumer Goods</li>
              <li>Agricultural</li>
              <li>Automotive</li>
              <li>Container</li>
              <li>Industrial</li>
              <li>Other</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="card-body bg-light">
            <h4>Equipment Types include:</h4>
            <ul>
              <li>Super link Tautliners</li>
              <li>Flat Decks, triaxles or links</li>
              <li>Refrigerated trailers </li>
              <li>14, 12 or 8 ton vehicles</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="card-body bg-light">
            <h4>Additional Services:</h4>
            <ul>
              <li>Warehousing</li>
              <li>Cross docking</li>
              <li>Fintech Solutions
                <ul>
                  <li>Management control</li>
                  <li>Logistics oversight capabilities</li>
                  <li>Clearing and Forwarding companies</li>
                  <li>Performance reports</li>
                  <li>Real-time traceability</li>
                  <li>24 hour call centre</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container-fluid">
    <div class="container mt-5">
      <p class="lead">Our clients:</p>
    </div>
    <ul class="logo_marquee">
        <marquee scrollamount="8">
        <li class="spar"></li>
        <li class="okZim"></li>
        <li class="tiger"></li>
        <li class="kclark"></li>
        <li class="rcl"></li>
        <li class="kelloggs"></li>
        <li class="heineken"></li>
        <li class="png"></li>
        <li class="distell"></li>
        <li class="halewood"></li>
        <li class="cochrane"></li>
        <li class="universal"></li>
        <li class="woodlands"></li>
        <li class="hullets"></li>
        </marquee>
    </ul>
  </div>
</section>

{% endblock content %}