{% extends "layouts/page.html" %}
{% block content %}

<section id="services" class="pt-lg-5 pb-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-8 mt-5">
        <p class="lead">Orange Logistics offers range of freight solutions from full truck loads to less than truck load volumes.</p>
        <p class="lead">The industries we provide service to are:</p>
        <ul>
          <li>Agricultural</li>
          <li>Automotive</li>
          <li>Bulk, Commodities</li>
          <li>Container</li>
          <li>Fast Moving Consumer Goods</li>
          <li>Industrial</li>
          <li>Other</li>
        </ul>
        <p class="lead">Equipment Types include:</p>
        <ul>
          <li>Super link Tautliners</li>
          <li>Flat Decks, triaxles or links</li>
          <li>Refrigerated trailers </li>
          <li>14, 12 or 8 ton vehicles</li>
        </ul>
        <p class="lead">Additional Services:</p>
        <ul>
          <li>Warehousing</li>
          <li>Cross docking.</li>
        </ul>        
      </div>
    </div>
  </div>
</section>

{% endblock content %}