{% extends "layouts/page.html" %}
{% block content %}

<section id="services" class="pt-lg-5 pb-5">
  <div class="container pt-5">

    <p class="lead mt-5">Orange Logistics offers range of freight solutions from full truck loads to less than truck load volumes.</p>

    <div class="row d-flex justify-content-center mt-5">
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="card-body bg-light">
            <p class="lead">The industries we provide service to are:</p>
            <ul>
              <li>Agricultural</li>
              <li>Automotive</li>
              <li>Container</li>
              <li>Fast Moving Consumer Goods</li>
              <li>Industrial</li>
              <li>Other</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="card-body bg-light">
            <p class="lead">Equipment Types include:</p>
            <ul>
              <li>Super link Tautliners</li>
              <li>Flat Decks, triaxles or links</li>
              <li>Refrigerated trailers </li>
              <li>14, 12 or 8 ton vehicles</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="card-body bg-light">
            <p class="lead">Additional Services:</p>
            <ul>
              <li>Warehousing</li>
              <li>Cross docking.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock content %}