* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  font: inherit;
}
*::before, *::after {
  box-sizing: inherit;
}
*.bg-orange {
  background-color: #ffa500;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4.75rem;
}
html img {
  display: block;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
header a.nav-link {
  text-indent: 1rem;
}
header .company_logo {
  position: absolute;
  width: 6rem;
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center 10%;
  border-radius: 50%;
}
header .navbar-text .btn {
  position: relative;
}
header .navbar-text .btn::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 4.2rem;
  left: -225%;
  top: -1rem;
  background-image: url("img/logo_dark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 75rem) {
  header a.nav-link {
    font-weight: 800;
    margin-left: 1rem;
    text-indent: 0;
    font-size: large;
    text-transform: uppercase;
  }
  header .navbar-text a {
    font-weight: 600;
  }
  header .company_logo {
    width: 9rem;
  }
}

section {
  position: inherit;
  width: 100%;
  min-height: 100%;
  background-color: #f1f0f0;
}
section.mini-section {
  min-height: 75%;
}
section.micro-section {
  min-height: 25%;
}

section#hero_section {
  min-height: 50%;
}
section#hero_section .carousel {
  position: absolute;
  width: 100%;
  height: 100%;
}
section#hero_section .carousel-inner {
  position: relative;
  height: 100%;
}
section#hero_section .carousel-item {
  position: inherit;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  font-weight: 500;
}
section#hero_section .carousel-item #olog_map {
  position: absolute;
  width: 65%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 75rem) {
  section#hero_section .carousel-item #olog_map {
    width: 30%;
  }
}
section#hero_section .carousel-item #olog_logo {
  width: 130px;
  margin: 1rem auto;
}
section#hero_section .carousel-item .carousel-caption {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2rem;
}
section#hero_section .carousel-item:nth-child(1) {
  background-image: url("img/orange_truck.jpg");
  background-position: left;
}
section#hero_section .carousel-item:nth-child(1) .carousel-caption {
  background-color: transparent;
}
section#hero_section .carousel-item:nth-child(2) {
  background-image: url("img/sunset.jpg");
}
section#hero_section .carousel-item:nth-child(3) {
  background-image: url("img/warehouse.jpg");
}
section#hero_section .wave {
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
section#hero_section .wave svg {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 32/1;
  transform: rotateY(180deg);
}
section#hero_section .wave .shape-fill {
  fill: #ffa500;
}
@media (min-width: 75rem) {
  section#hero_section {
    min-height: 100%;
  }
}

@media (min-width: 75rem) {
  section#services_section .card {
    min-height: 21rem;
  }
  section#services_section .card-title {
    min-height: 4rem;
  }
}

section#contact {
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("img/orange_map.jpg");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}

section#management .card {
  background-color: transparent;
  border-color: transparent;
}
section#management .card .pic {
  width: 75%;
  aspect-ratio: 1/1;
  z-index: 50;
  margin: auto;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  background-repeat: no-repeat;
}
section#management .card .pic.john {
  background-image: url("img/john.png");
}
section#management .card .pic.ceril {
  background-image: url("img/ceril.png");
}
section#management .card .pic.peter {
  background-image: url("img/peter.png");
}
section#management .card .pic.stacey {
  background-image: url("img/stacy.png");
}
section#management .card .pic.haig {
  background-image: url("img/haig.jpg");
}
section#management .card .pic.rory {
  background-image: url("img/rory.jpg");
}
section#management .card .pic.jayne {
  background-image: url("img/jayne.jpg");
}
section#management .card .pic.mark {
  background-image: url("img/mark.png");
}
section#management .card .pic.olivia {
  background-image: url("img/olivia.png");
}
section#management .card .pic.bigheadM {
  background-image: url("img/mark.svg");
}
section#management .card .pic.bigheadF {
  background-image: url("img/olivia.svg");
}

.logo_marquee {
  list-style: none;
}
.logo_marquee li {
  display: inline-block;
  width: 10rem;
  aspect-ratio: 1/1;
  margin: auto 2rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.logo_marquee li.tiger {
  background-image: url("img/tigerbrands.png");
}
.logo_marquee li.kclark {
  background-image: url("img/kimberlyclark.png");
}
.logo_marquee li.rcl {
  background-image: url("img/rcl.png");
}
.logo_marquee li.kelloggs {
  background-image: url("img/kelloggs.png");
}
.logo_marquee li.heineken {
  background-image: url("img/heineken.png");
}
.logo_marquee li.png {
  background-image: url("img/png.png");
}
.logo_marquee li.distell {
  background-image: url("img/distell.png");
}
.logo_marquee li.halewood {
  background-image: url("img/halewood.png");
}
.logo_marquee li.spar {
  background-image: url("img/spar.png");
}
.logo_marquee li.cochrane {
  background-image: url("img/cochrane.png");
}
.logo_marquee li.universal {
  background-image: url("img/universal.png");
}
.logo_marquee li.woodlands {
  background-image: url("img/woodlands.png");
}
.logo_marquee li.hullets {
  background-image: url("img/hullets.png");
}

footer {
  position: relative;
  width: 100%;
  min-height: 25%;
  bottom: 0;
  left: 0;
  color: #eee;
}
footer .footer-logo {
  width: 10rem;
  display: block;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 2rem;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}/*# sourceMappingURL=style.css.map */